body {
  --van-button-primary-background-color: #950040;
  --van-button-primary-border-color: #950040;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main-content {
  position: absolute;
  top: 68px;
  bottom: 68px;
  left: 0;
  right: 0;
  overflow-y: auto;
}
