html {
  font-size: 100px;
}
body {
  font-size: 0.12rem;
  --van-button-primary-background-color: #950040;
  --van-button-primary-border-color: #950040;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main-content {
  position: absolute;
  top: 18.13333333vw;
  bottom: 18.13333333vw;
  left: 0;
  right: 0;
  overflow-y: auto;
}
