@import './variables.less';

body {
  --van-button-primary-background-color: @themeColor;
  --van-button-primary-border-color: @themeColor;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-content {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-y: auto;
}