html {
  font-size: 100px;
}

body {
  font-size: 0.12rem;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-content {
  position: absolute;
  top: (68vw / 3.75);
  bottom: (68vw / 3.75);
  left: 0;
  right: 0;
  overflow-y: auto;
}