@font-face {
  font-family: 'iconfont';  /* Project id 3281864 */
  src: url('//at.alicdn.com/t/font_3281864_9ysby7s3qew.woff2?t=1650352819486') format('woff2'),
       url('//at.alicdn.com/t/font_3281864_9ysby7s3qew.woff?t=1650352819486') format('woff'),
       url('//at.alicdn.com/t/font_3281864_9ysby7s3qew.ttf?t=1650352819486') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}